<h3>Title: <%= @book[:title_suggest] %></h3>
<h3>Author: <%= @book[:author_name].first %></h3>
<h3>Genre: <%= @book[:type] %></h3>

<br>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <p>-<%= review[:summary] %></p>
<% end %>
